@font-face {
  font-family: "Young Serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
  font-weight: 400, 600, 700;
  font-style: normal;
}

* {
  font-family: "Outfit", sans-serif;
  font-size: 12px;
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  background-color: hsl(0, 0%, 100%);
  width: 500px;
  border-radius: 12px;
  padding: 20px;
  color: hsl(30, 10%, 34%);
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

h1 {
  font-size: 30px;
  color: hsl(24, 5%, 18%);
}

h1,
h2 {
  font-family: "Young Serif", serif;
}

h2 {
  font-size: 22px;
  color: hsl(14, 45%, 36%);
}

.no-serif {
  font-family: "Outfit", sans-serif;
  color: hsl(332, 51%, 32%);
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}

.preparation-time-container {
  background-color: hsl(330, 100%, 98%);
  padding: 20px;
  border-radius: 12px;
}

.preparation-time-list {
  padding-left: 18px;
  margin-bottom: 0;
}

.preparation-time-list > li,
.ingredients-list > li,
.instructions-list > li {
  padding-left: 10px;
}

.preparation-time-list > li::marker {
  color: hsl(332, 51%, 32%);
}

.preparation-time-list > li:not(:last-child) {
  margin-bottom: 10px;
}

.preparation-time-list > li span {
  font-weight: 700;
}

.ingredients-list {
  padding-left: 18px;
  margin-bottom: 0;
}

.ingredients-list > li {
  margin-bottom: 10px;
}

.ingredients-list > li::marker {
  color: hsl(14, 45%, 36%);
}

.ingredients-list > li:last-child {
  margin-bottom: 25px;
}

.instructions-list {
  list-style-position: outside;
  padding-left: 22px;
  margin-bottom: 0;
}

.instructions-list > li {
  line-height: 1.5;
  margin-bottom: 10px;
}

.instructions-list > li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.instructions-list > li:last-child {
  margin-bottom: 25px;
}

.instructions-list > li span {
  font-weight: 700;
}

.nutrition-description {
  margin-bottom: 20px;
}

.nutrition-container-1,
.nutrition-container-2,
.nutrition-container-3,
.nutrition-container-4 {
  display: flex;
  flex-direction: row;
  gap: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

dt {
  width: 70px;
}

dd {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 550px) {
  main {
    width: 100%;
    border-radius: 0;
    padding: 0;
  }
  article {
    padding: 20px;
  }
  img {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
  .mobile {
    width: 100%;
  }
}
